@import "size-handler.css";
@import "./external/google-icons/faces.css";
@import "./helperStyles.css";

html, body {
  overscroll-behavior-x: none;
}

body {
    position: fixed;
    left:0rem;
    bottom: 0rem;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

* {
    font-family: Standard;
    font-weight: 400;
    font-style: normal;
    font-variant-numeric: tabular-nums;
}

*{
    user-select: none;
    transition: all .25s;

}

@font-face {
    font-family: 'Monospace';
    src: url('../../src/resources/webfonts/Azeret/AzeretMono-Light.ttf')
}

@font-face {
    font-family: 'Standard';
    src: url('./external/webfonts/Quicksand/Quicksand-VariableFont_wght.ttf')
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    margin: .2rem;
}

.smallIcon {
    font-size: var(--fs-medium);
    margin-top: 0.7rem;
    margin-left: 0.4rem;
}

.cdk-overlay-pane {
  max-width: 90vw !important;
}

.mdc-text-field__input{
    height: 2.1rem !important;
    padding-top: 0.6rem !important;
    padding-bottom: 0rem !important;
    margin: 0.2rem;
}

mat-form-field mat-icon {
    color: rgb(115, 115, 115);
}

mat-form-field mat-icon[matPrefix] {
    margin-top: 50%;
    margin-bottom: -40%;
    margin-right: -.7rem;
}

mat-form-field mat-icon[matSuffix] {
    margin-bottom: -40%;
    margin-top: 42%;
    margin-right: -.4rem;
}

button[mat-raised-button] {
    font-size: 1.2rem;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 1.5rem;
}

.text {
    margin: .2rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

.mdc-label {
    margin-left: 1rem !important;
}

.mat-mdc-select:not(.mat-mdc-paginator .mat-mdc-select) {
    padding-top: 1.5rem
}
mat-expansion-panel-header {
    height: 3rem;
    font-size: 1.2rem;
    line-height: 3rem;
}

mat-expansion-panel:first-of-type:not(.mat-expanded):not(:last-of-type):not(.ignoreBorder) {
  border-radius: .8rem .8rem 0 0 !important;
}

mat-expansion-panel:last-of-type:not(.mat-expanded):not(:first-of-type):not(.ignoreBorder)  {
  border-radius: 0 0 .8rem .8rem !important;
}

.mat-expanded:not(.ignoreBorder), mat-expansion-panel:last-of-type:first-of-type:not(.ignoreBorder) {
  border-radius: .8rem !important;
}

.mat-content-hide-toggle {
  margin-right: 0 !important;
}
mat-card-title {
    float:left !important;
    position: relative !important;
    height: auto !important;
    font-size: 1.6rem !important;
    font-weight: 450 !important;
    line-height: 1.75rem !important;
    margin-top: -1.2rem !important;
    margin-bottom: .9rem !important;
    width: 100% !important;
}

mat-card-subtitle {
    float:left !important;
    position: relative !important;
    height: auto !important;
    font-size: 1.3rem !important;
    font-weight: 300 !important;
    line-height: 1.3rem !important;
    margin-top: -.7rem !important;
    margin-bottom: .5rem !important;
    width: 100% !important;
    color: var(--dark) !important;
}

.noPadding .mat-expansion-panel-body {
  padding: 0 8px 8px !important;
}

.noPadding mat-expansion-panel-header {
  padding: 0 15px !important;
}

mat-card-content {
    float:left !important;
    position: relative !important;
    height: auto !important;
    font-size: 1.1rem !important;
    font-weight: 300 !important;
    line-height: 1rem !important;
    width: calc(100% - 32px) !important;
    margin-bottom: .1rem;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: .8rem !important;
}

mat-card {
  border-radius: .8rem !important;
    float: left !important;
    display: unset;
    position: relative;
}

mat-slide-toggle {
    font-size:1.3rem;
}

.mat-badge-content {
    font-size: .8rem !important;
    margin-top:.5rem;
    margin-right: .3rem
}

mat-tab-group {
    font-size: 1.5rem;
    height: 100%;
    max-height: 100%;
    position: relative;
    float:left;
}

.mdc-tab:not(.mdc-tab--active) {
  background-color: #c4c4c4 !important;
  border-radius: .5rem .5rem 0 0;
}

.mdc-tab--active {
  background-color: white !important;
  border-radius: .5rem .5rem 0 0;
}

h1 {
    color: var(--secondary);
    font-weight: 500;
    font-size: var(--fs-medium);
    margin: 0rem;
}

h2 {
    color: var(--dark-gray);
    font-weight: 300;
    font-size: var(--fs-medium);
    margin-top: .5rem;
}

.mdc-switch {
    margin-top: .5rem !important;
}

mat-divider {
    float:left !important;
    position: relative !important;
    width: calc(100% - 4rem) !important;
    height: 1px;
    margin:.25rem !important;
    background-color: var(--gray);
    margin-left: 2rem !important;
    margin-top: 1rem !important;
}

.mdc-linear-progress__bar {
    display: flex;
}

b {
    font-weight: 500;
}

mat-tab-body {
    padding:.5rem !important;
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    max-height: calc(100% - 1rem);
    overflow-y: auto;
}

.mat-grid-tile-content {
  display: unset !important;
}

.mat-step-icon .mat-icon {
    font-size: .8rem !important;
    margin-left: 0.4rem;
    margin-top: 0.3rem;
    position: relative;
}

.mat-horizontal-content-container {
    padding-top: 2rem !important;
}

button[mat-icon-button]:disabled {
    color: rgb(115, 115, 115) !important;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding-top: 1rem;
}

*::-webkit-scrollbar-track{
	box-shadow: inset 0 0 .2rem rgba(0,0,0,0.0);
	/*border-radius: .3rem;*/
	/*background-color: #F5F5F5;*/
    background-color: rgba(0,0,0,0);
}

*::-webkit-scrollbar{
	width: 0;
    height: 0;
    background-color: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb{
	border-radius: .3rem;
	box-shadow: inset 0 0 .2rem rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}


.mat-mdc-tab-list {
  border-bottom: 1px solid #a9a9a9;
}

.mat-mdc-tab-body-wrapper {
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}

/*.mdc-tab:not(:last-child):not(.mdc-tab--active){*/
/*  border-right: 1px solid #908c8c;*/
/*}*/

.expandIcon {
  padding-bottom: 1.1rem;
  margin-top: -.1rem;
}

.mdc-switch__icon--on > path {
  display: none !important;
}

.mat-mdc-slide-toggle-checked .mdc-switch__icons:after {
  color: white;
  content: 'L';
  position: relative;
  display: block;
  font-weight: bold;
  transform: rotate(45deg) scaleX(-1) translate(0rem, 0rem) scaleY(1.3);
}

.mdc-checkbox .mdc-checkbox__native-control:checked~.mdc-checkbox__background:after {
  color: white;
  content: 'L';
  font-weight: bold;
  transform: rotate(45deg) scaleX(-1) translate(.2rem, .1rem) scaleY(1.3);
}

.mdc-checkbox__checkmark {
  display:none;
}

.nodeContainer img {
  max-width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nodeContainer div {
  line-height: 1.2rem !important;
}

input {
  margin-top: .4rem !important;
  font-size: 1.2rem !important;
}

.mdc-floating-label--float-above {
  margin-top: .3rem !important;
  font-size: 1.4rem !important;
}

.mat-icon {
    overflow: visible !important;
}

ul {
    position:absolute;
    bottom:1rem;
    right: 0rem;
    margin:0;
    padding:0;
    display:flex;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    width:4rem;
    height:4rem;
    display:block;
    text-align:center;
    margin:0 .5rem;
    border-radius: 50%;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, var(--gray), var(--light));
    transition: .5s;
}

ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
}

ul li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, var(--gray), var(--light));
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
}

a:hover .fa-facebook{
    color: #3b5998 !important;
}

a:hover .fa-github-square{
    color: #e8c16b !important;
}

a:hover .fa-twitter {
    color: #00aced !important;
}

a:hover .fa-google-plus-g {
    color: #dd4b39 !important;
}

a:hover .fa-linkedin {
    color: #007bb6 !important;
}

a:hover .fa-instagram {
    color: #e4405f !important;
}

button.button {
    width: auto;
    height: 4rem;
    padding: 1rem 4rem;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid var(--accent);
    border-top: 1px solid var(--accent);
    font-size: 1.7rem;
    color: var(--white);
    background-color: var(--accent);
    transform-origin: center;
    transition: all .3s;
    text-align: center;
    line-height: 0rem;
    overflow-y: hidden;
    z-index: 12;
}

/*button.button:hover {*/
/*    cursor: pointer;*/
/*    opacity: .9;*/
/*    !*transform: scale(1.08);*!*/
/*    font-size: 1.7rem;*/
/*    color: var(--white);*/
/*    background-color: var(--accent);*/
/*    border-color: var(--accent);*/
/*}*/

button.button>mat-icon {
    display: inline-block;
    /* padding-top: 1rem; */
    color: var(--white);
    margin-top: 1.4rem;
    vertical-align: top;
}

button.button>span {
    display: inline-block;
    color: var(--white);
    margin-top: .8rem;
    vertical-align: top;
    margin-left: 1rem;
}

/* Large */
@media (min-aspect-ratio: 1/1) {
    .card {
        width: calc(100% - 6rem);
        padding: 2rem 3rem;
    }
}



/* Small */
@media (max-aspect-ratio: 1/1) {
    .card {
        padding: 2rem 3rem;
        height: auto;
        width: calc(100% - 7rem);
    }
}