<div class="container ">
    <div class="leftLineContainer">
        <div class="line " [ngStyle]="getLeftAnimation()"></div>
        <div class="line " [ngStyle]="getLeftAnimation()"></div>
        <div class="line " [ngStyle]="getLeftAnimation()"></div>
        <div class="line " [ngStyle]="getLeftAnimation()"></div>
        <div class="line " [ngStyle]="getLeftAnimation()"></div>
    </div>

    <div class="rightLineContainer">
        <div class="rightSquareContainer">
            <div class="square1" [ngStyle]="getRightLineAnimation()"></div>
            <div class="square2"></div>
        </div>
        <div class="rightSquareContainer">
            <div class="square1" [ngStyle]="getRightLineAnimation()"></div>
            <div class="square2"></div>
        </div>
        <div class="rightSquareContainer">
            <div class="square1" [ngStyle]="getRightLineAnimation()"></div>
            <div class="square2"></div>
        </div>
        <div class="rightSquareContainer">
            <div class="square1" [ngStyle]="getRightLineAnimation()"></div>
            <div class="square2"></div>
        </div>
        <div class="rightSquareContainer">
            <div class="square1" [ngStyle]="getRightLineAnimation()"></div>
            <div class="square2"></div>
        </div>
    </div>
</div>