<mat-card class="popup_wrapper">
<!--    <mat-card-header >-->
<!--      <mat-card-title>{{LangUtil.getScript(LangConstants.LOGOUT)}}</mat-card-title>-->
<!--      &lt;!&ndash; <mat-card-subtitle class="card_sub_header">{{LangUtil.getScript(LangConstants.LOGOUT_DESC)}}</mat-card-subtitle> &ndash;&gt;-->
<!--    </mat-card-header>-->
<!--    <mat-card-content >-->
<!--        <div *ngIf='authenticationService.user()' class="fullWidth floatLeft positionRelative centerText" >-->
<!--            <div class="mat-blue floatLeft text">{{LangUtil.getScript(LangConstants.LOGGED_IN_AS)}}</div>-->
<!--            <div class="floatLeft text">{{'  ' + authenticationService.user()!.firstName + ' ' + authenticationService.user()!.lastName}}</div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <div class="mat-blue floatLeft text">{{LangUtil.getScript(LangConstants.LOGOUT_DESC)}}</div>-->
<!--        </div>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions align="end">-->
<!--        <button mat-raised-button class="popup_button" (click)='logout()' color="warn">{{LangUtil.getScript(LangConstants.LOGOUT)}}</button>-->
<!--    </mat-card-actions>-->
</mat-card>
