@use '@angular/material' as mat;
@include mat.core();

$palette_light_accent: (
  50: #12a4ef,
  100: #12a4ef,
  200: #12a4ef,
  300: #12a4ef,
  400: #12a4ef,
  500: #12a4ef,
  600: #12a4ef,
  700: #12a4ef,
  800: #12a4ef,
  900: #12a4ef,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$palette_light_primary: (
        50: #12516f,
        100: #12516f,
        200: #12516f,
        300: #12516f,
        400: #12516f,
        500: #12516f,
        600: #12516f,
        700: #12516f,
        800: #12516f,
        900: #12516f,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
        )
);

$palette_dark_accent: (
        50: #12a4ef,
        100: #12a4ef,
        200: #12a4ef,
        300: #12a4ef,
        400: #12a4ef,
        500: #12a4ef,
        600: #12a4ef,
        700: #12a4ef,
        800: #12a4ef,
        900: #12a4ef,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
        )
);

$palette_dark_primary: (
        50: #12516f,
        100: #12516f,
        200: #12516f,
        300: #12516f,
        400: #12516f,
        500: #12516f,
        600: #12516f,
        700: #12516f,
        800: #12516f,
        900: #12516f,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
        )
);



// Define a light theme
$light-accent: mat.define-palette($palette_light_accent);
$light-primary: mat.define-palette($palette_light_primary);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent
    ),
  )
);

// Define a dark theme
$dark-accent: mat.define-palette($palette_dark_accent);
$dark-primary: mat.define-palette($palette_dark_primary);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

.color-scheme-dark {
  @include mat.all-component-colors($dark-theme);
  // Example how you can easy add own custom styles
  .card-wrapper {
    color: #d0d0d0;
  }
}

.color-scheme-light {
  @include mat.all-component-colors($light-theme);
  // Example how you can easy add own custom styles
  .card-wrapper {
    color: #2d2d2d;
  }
}

:root {
  --primary: #12516f;
  --secondary: #12516f;
  --accent: #419ecb;
  --background: #e5e3e3;
  --dark: #0a4b69;
  --black: #1c1c1c;
  --off: rgb(240 240 240);
  --light: #fcfcfc;
  --gray: rgb(173, 173, 173);
  --dark-gray: rgb(63, 63, 63);
  --white: rgb(240 240 240);
  --section-background: rgba(255, 255, 255, .9);

  --about-width: 24rem;
  --border-radius: .4rem;
  --box-shadow: 0rem 0.15rem 0.4rem 0.05rem rgba(10,10,10,.2);
  --fs-small: 1rem;
  --fs-medium: 1.2rem;
  --fs-large: 1.55rem;
}


[theme='dark'] {
  --primary: #12516f;
  --secondary: #419ecb;
  --accent: #419ecb;
  --background: #7e7e7e;
  --dark: #0a4b69;
  --black: rgb(217, 217, 217);
  --light: rgb(110, 110, 110);
  --gray: rgb(173, 173, 173);
  --dark-gray: rgb(217, 217, 217);
  --white: rgb(240 240 240);
  --off: #424242;
  --section-background: rgba(140, 140, 140, 0.8);

  --box-shadow: 0rem 0.15rem 0.4rem 0.05rem rgba(238, 238, 238, 0.2);
}

@media (max-aspect-ratio: 1/1) {
  :root {
    --fs-small: 1.3rem;
    --fs-medium: 1.5rem;
    --fs-large: 1.9rem;
  }
}

.mat-white {
  color: white !important;
}

//.mat-primary {
//  color: var(--primary) !important;
//}

.mat-black {
  color: black !important;
}

.mat-green {
  color: rgb(0, 137, 43) !important;
}

.mat-purple {
  color: rgb(161, 0, 161) !important;
}

.mat-orange {
  color: #fab746 !important;
}

.mat-gray {
  color: var(--dark-gray) !important;
}

.mat-red {
  color: #f44336 !important;
}

.mat-blue {
  color: #12516f !important;
}

.mat-light {
  color: var(--light) !important;
}

.mat-light-gray {
  color: #cbcbcb !important;
}

.mat-dark-gray {
  color: var(--dark-gray) !important;
}

.mat-background-green {
  background-color: rgb(0, 137, 43) !important;
  color: white !important;
}

.mat-background-white {
  background-color: white!important;
}
.mat-background-purple {
  background-color: rgb(161, 0, 161) !important;
  color: white !important;
}

.mat-background-gray {
  background-color: rgb(115, 115, 115) !important;
  color: white !important;
}

.mat-background-orange {
  background-color: #fab746 !important;
}

.mat-background-red {
  background-color: #f44336 !important;
  color: white !important;
}

.mat-background-blue {
  background-color: #12516f !important;
  color: white !important;
}

.mat-background-light-gray {
  background-color: #cbcbcb !important;
  color: black !important;
}
